<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Incidencias IES Teis</title>
</head>

<body>

    <h1>Nueva incidencia</h1>

    <form action="/incidencia" method="post">

        <label for="aula">Aula:</label>
        <input type="text" id="aula" name="aula">

        <br><br>

        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario">

        <br><br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>

        <br><br>

        <input type="submit" value="Enviar">

    </form>

</body>
</html>